@charset "UTF-8";
body{
    background-color: gray;
    border: 5px solid;
    box-shadow: 5px 5px 4px rgba(0, 0, 0, 0.514);
    border-radius: 5px;
}
header{
    background-color: #1813EB ;
    padding-top: 5px;
    
}
#logo{
    color: white;
    margin-left: 60px;
}
nav{
    background-color: #d3d3d3 ;
    height: 20px;ko
    
}
a{
    color: #545454;
    margin-right: 200px;
    margin-left: 200px;
    text-decoration: none;
}
a:hover{
    color: #EBC513;
}
main{
    background-color: white;
}

article{
background-color: lightgray;
text-align: justify;
padding-left: 10px;
padding-right: 10px;
}
p{
    margin-bottom: 0px;
    text-indent: 10px;
}
.capa{
margin-bottom: -10px;
}
.merito{
background-color: rgb(184, 183, 183);
margin-top: 0px;
margin-bottom: 0px;
padding-left: 10px;
text-indent: 0px;
}
footer{
    background-color: black;
    color: rgb(167, 167, 167);
    padding-top: 10px;
    padding-bottom: 25px;
    text-align: center;
    font-style: italic;
   }
   .criador:hover{
    color: yellow;
   }